body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#signup-form-div>form{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 20px;
    margin-top: 2%;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#signup-form-div>form>input{
    padding: 7px;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid rgba(138, 135, 135, 0.35);
    border-radius: 5px;
}
#submitBtn{
    /* border: none; */
    color: white;
    width: 50%;
    margin: auto;
    /* border-radius: 100px; */
    font-weight: bold;
    /* border: 10px solid red; */
    background-color: rgba(228, 116, 41, 0.763);

} 

/* navBar */
body{
    background-color: #f8f8f8;
}
#navBar{
    /* border: 1px solid red; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 20px;
    border-radius: 5px;
    text-align: right;
    background-color: #f7f7f7;

}
#navBar>a{
    padding: 10px;
    /* border: 1px solid black; */
    border-radius: 100px;
    text-decoration: none;
    font-weight: bold;
    margin: 2%;
    color: white;
    background-color: rgba(228, 116, 41, 0.763);
}
#navBar>a:hover{
    background-color: rgba(228, 116, 41, 0.924);
}